@import url(estilos/figuras.css);
@import url(estilos/interfaces.css);

@font-face {
  font-family: "Roboto";
  src: url(multimedia/fuentes/roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: "omaga";
  src: url(multimedia/fuentes/comic_helvetic/ComicHelvetic_Heavy.otf);
}

body {
  overflow: hidden;
  padding: 1000px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p, h2{
  font-family: "Roboto";
  color: #fff;
  padding: 30px;
  font-weight: 800;
  -webkit-text-stroke: 1.2px black;
}

.contenedor{
  position: absolute;
  left: 0;
  top: 0;

  display: grid;
  place-items: center;
  height: 5000px;
  width: 5000px;
  background-color: #c8c8c8;
}

.escenario{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  /*border: 80px solid #bfafaf;*/
  background-color: #cfbfbf;
  z-index: 0;
  transform: scale(1);
}

.cuadriculas{
  position: absolute;
  left: 0;
  top: 0;
  width: 5000px;
  height: 5000px;
  background: 
  repeating-linear-gradient(
      #aaaaaa44 0%,
      #aaaaaa44 0.1%, 
      transparent 0.1%,
      transparent 1.5%
  ),
  repeating-linear-gradient(
      90deg,
      #aaaaaa44 0%,
      #aaaaaa44 0.1%, 
      transparent 0.1%,
      transparent 1.5%
  );
  z-index: 10;
}

.jugador {
  --jugador-x: 100px;
  --jugador-y: 100px;
  --jugador-ancho: 54px;
  --jugador-alto: 54px;
  --jugador-grados: 0deg

  & .cuerpo {
    --x: var(--jugador-x);
    --y: var(--jugador-y);
    --ancho: var(--jugador-ancho);
    --alto: var(--jugador-alto);
    --grados: var(--jugador-grados);
  }

  & .torreta {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 64px;
    width: 24px;

    background: #aaa;
    border: 4px solid #999;
    border-radius: 4px;
    z-index: 1;

    transform: translate(-50%, -85%);
    transition: 60ms;
  }

  & .escopeta{
      width: 34.1px;
      background: #999;
      border-radius: 12%;
      padding: 0;
      clip-path: polygon(50% 100%, 0 0, 100% 0); 

    & .fondo {
        height: 54px;
        width: 26px;
        background-color: #aaa;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
    }

}

}

.camara {
  --x: 0px;
  --y: 0px;

  position: absolute;
    left: var(--x);
    top: var(--y);
  
  height: 100vh;
  width: 100vw;
  
  box-sizing: border-box;
  border: 2px solid #333;

  /*background: 
    linear-gradient(90deg, transparent 0%, transparent 49.9%, black 50%, transparent 50.1%, transparent 100%),
    linear-gradient(0deg, transparent 0%, transparent 49.9%, black 50%, transparent 50.1%, transparent 100%);*/

  z-index: 99999;
}

.camara .contenedor-barra-nivel{
    position: fixed;
    display: grid;
    place-items: center;
    left: 0%;
    top: 93%;
    height: 3.5vh;
    width: 100%;
    
    & .barra-nivel{
      display: grid;
      place-items: center;
      height: 100%;
      width: 50%;
      border-radius: 20px;
      background-color: #2e2e2e80;
    }

    & .texto-nivel{
        -webkit-text-stroke: 0;
        position: absolute;
        font-size: 12px;
        color: #fff;
        z-index: 5;
    }

    & .dos{
        margin: 0 0.5%;
        place-self: center start;
        height: 90%;
        width: 99%;
        background-color: #fbff0080;
    }
}

.camara .contenedor-nombre-jugador{
    position: fixed;
    left: 0;
    top: 87%;
    height: 4vh;
    width: 100%;
    & .nombre-jugador{
        display: grid;
        place-items: center;
    }
}

.contenedor-armas{
  position: fixed;
  left: 0;
  top: 0;
  height: 30vh;
  width: 30vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;

  & .armas{
    border: 4px solid #635D5F;
  }
  & .twin{
    overflow: hidden;
    background:linear-gradient(
      #91FAF5 0%,
      #91FAF5 60%,
      #80CEC0 60%,
      #80CEC0 100%
    );

    & img{
      height: 100vh;
      width: 100vh;
      object-fit: cover;
      object-position: -20px -30px;
    }
  }
  & .sniper{
    background:linear-gradient(
      #B6FB87 0%,
      #B6FB87 60%,
      #96CA80 60%,
      #96CA80 100%
    );
  }
  & .machine-gun{
    background:linear-gradient(
      #FE9196 0%,
      #FE9196 60%,
      #CD796F 60%,
      #CD796F 100%
    );
  }
  & .flank-guard{
    background:linear-gradient(
      #FAECA5 0%,
      #FAECA5 60%,
      #D3BD81 60%,
      #D3BD81 100%
    );
  }
}