@font-face {
    font-family: uvu;
    src: url(carbono-pw/carbono_pw.ttf);
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: uvu;
}

body{
    background-color: #8f4bb0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    & .nombre-juego{
    font-size: 50px;
    text-align: center;
    }

    & .contenedor-titulo{
        min-height: 10vh;
        height: 30vh;
        width: 100%;
        & .imagen-titulo{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 45px;
        }
    }

    & .ingreso-nombre{
        display: grid;
        grid-template-columns: 3fr 1fr;
        height: 8vh;
        width: 30%;
        & .entrada, .boton-enviar{
            border: 2px solid #1e6d7e;
            padding: 0 20px;
            height: 100%;
        }

        & .boton-enviar{
            border: 2px solid #1e6d7e;
            border-radius: 3px;
            font-size: 30px;
            font-weight: bold;
            color: #fafafa;
            background:linear-gradient(
                #0ea4cc 0%,
                #0ea4cc 65%,
                #0f95ba 65%,
                #0f95ba 100%
            ) 
        }
    }
}
